.cm-s-chromacoder-green.CodeMirror { background: #00ff00; color: #ffffff; font-size: 12px; }
.cm-s-chromacoder-green div.CodeMirror-selected { background: #474f57; }
.cm-s-chromacoder-green .CodeMirror-line::selection, .cm-s-chromacoder-green .CodeMirror-line > span::selection, .cm-s-chromacoder-green .CodeMirror-line > span > span::selection { background: #474f57; }
.cm-s-chromacoder-green .CodeMirror-line::-moz-selection, .cm-s-chromacoder-green .CodeMirror-line > span::-moz-selection, .cm-s-chromacoder-green .CodeMirror-line > span > span::-moz-selection { background: #474f57; }
.cm-s-chromacoder-green .CodeMirror-gutters { background: #00ff00; border-right: 0px; }
.cm-s-chromacoder-green .CodeMirror-guttermarker { color: white; }
.cm-s-chromacoder-green .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.cm-s-chromacoder-green .CodeMirror-linenumber { color: #880088; background: #000000; }
.cm-s-chromacoder-green .CodeMirror-cursor { border-left: 1px solid #ffffff; }
.cm-s-chromacoder-green .CodeMirror-scroll { overflow-x: hidden !important; }

.cm-s-chromacoder-green .CodeMirror-line span { padding-right: 0 !important; background: #000000; }

.cm-s-chromacoder-green span.cm-comment { color: #880088; }
.cm-s-chromacoder-green span.cm-atom { color: #8a8aff; }
.cm-s-chromacoder-green span.cm-number { color: #8a8aff; }

.cm-s-chromacoder-green span.cm-comment.cm-attribute { color: #97b757; }
.cm-s-chromacoder-green span.cm-comment.cm-def { color: #bc9262; }
.cm-s-chromacoder-green span.cm-comment.cm-tag { color: #bc6283; }
.cm-s-chromacoder-green span.cm-comment.cm-type { color: #5998a6; }

.cm-s-chromacoder-green span.cm-property, .cm-s-chromacoder-green span.cm-attribute { color: #88ddff; }
.cm-s-chromacoder-green span.cm-keyword { color: #ff0066; }
.cm-s-chromacoder-green span.cm-operator { color: #ff0066; }
.cm-s-chromacoder-green span.cm-builtin { color: #00aaff; }
.cm-s-chromacoder-green span.cm-string { color: #8844ff; }

.cm-s-chromacoder-green span.cm-variable { color: #ffffff; }
.cm-s-chromacoder-green span.cm-variable-2 { color: #9effff; }
.cm-s-chromacoder-green span.cm-variable-3, .cm-s-chromacoder-green span.cm-type { color: #00aaff; }
.cm-s-chromacoder-green span.cm-def { color: #ffaaff; }
.cm-s-chromacoder-green span.cm-bracket { color: #ffffff; }
.cm-s-chromacoder-green span.cm-tag { color: #ff0066; }
.cm-s-chromacoder-green span.cm-header { color: #8a8aff; }
.cm-s-chromacoder-green span.cm-link { color: #8a8aff; }
.cm-s-chromacoder-green span.cm-error { background: #ff0066; color: #ffffff; }

.cm-s-chromacoder-green .CodeMirror-activeline-background { background: #373831; }
.cm-s-chromacoder-green .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
