.cm-s-monokai-sharp.CodeMirror { background: #191a1f; color: #d0edff; font-size: 12px; }
.cm-s-monokai-sharp div.CodeMirror-selected { background: #474f57; }
.cm-s-monokai-sharp .CodeMirror-line::selection, .cm-s-monokai-sharp .CodeMirror-line > span::selection, .cm-s-monokai-sharp .CodeMirror-line > span > span::selection { background: #474f57; }
.cm-s-monokai-sharp .CodeMirror-line::-moz-selection, .cm-s-monokai-sharp .CodeMirror-line > span::-moz-selection, .cm-s-monokai-sharp .CodeMirror-line > span > span::-moz-selection { background: #474f57; }
.cm-s-monokai-sharp .CodeMirror-gutters { background: #191a1f; border-right: 0px; }
.cm-s-monokai-sharp .CodeMirror-guttermarker { color: white; }
.cm-s-monokai-sharp .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.cm-s-monokai-sharp .CodeMirror-linenumber { color: #75848f; }
.cm-s-monokai-sharp .CodeMirror-cursor { border-left: 1px solid #d0edff; }
.cm-s-monokai-sharp .CodeMirror-scroll { overflow-x: hidden !important; }

.cm-s-monokai-sharp span.cm-comment { color: #75848f; }
.cm-s-monokai-sharp span.cm-atom { color: #8a8aff; }
.cm-s-monokai-sharp span.cm-number { color: #8a8aff; }

.cm-s-monokai-sharp span.cm-comment.cm-attribute { color: #97b757; }
.cm-s-monokai-sharp span.cm-comment.cm-def { color: #bc9262; }
.cm-s-monokai-sharp span.cm-comment.cm-tag { color: #bc6283; }
.cm-s-monokai-sharp span.cm-comment.cm-type { color: #5998a6; }

.cm-s-monokai-sharp span.cm-property, .cm-s-monokai-sharp span.cm-attribute { color: #00ff91; }
.cm-s-monokai-sharp span.cm-keyword { color: #ff0066; }
.cm-s-monokai-sharp span.cm-operator { color: #ff0066; }
.cm-s-monokai-sharp span.cm-meta { color: #ff0066; }
.cm-s-monokai-sharp span.cm-builtin { color: #00aaff; }
.cm-s-monokai-sharp span.cm-string { color: #f7f025; }

.cm-s-monokai-sharp span.cm-variable { color: #d0edff; }
.cm-s-monokai-sharp span.cm-variable-2 { color: #9effff; }
.cm-s-monokai-sharp span.cm-variable-3, .cm-s-monokai-sharp span.cm-type { color: #00aaff; }
.cm-s-monokai-sharp span.cm-def { color: #ff5a1f; }
.cm-s-monokai-sharp span.cm-bracket { color: #d0edff; }
.cm-s-monokai-sharp span.cm-tag { color: #ff0066; }
.cm-s-monokai-sharp span.cm-header { color: #8a8aff; }
.cm-s-monokai-sharp span.cm-link { color: #8a8aff; }
.cm-s-monokai-sharp span.cm-error { background: #ff0066; color: #d0edff; }

.cm-s-monokai-sharp .CodeMirror-activeline-background { background: #373831; }
.cm-s-monokai-sharp .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
