body {
  margin: 0;
  background: #000;
}

#canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;

  @media (display-mode: fullscreen) {
    cursor: none;
  }
}

#pane {
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  margin: 8px;
  opacity: 0;
  transition: opacity 0.1s ease;

  @media (display-mode: fullscreen) {
    display: none;
  }
}
